



.title{
font-family: Impact, Charcoal, sans-serif;
	font-size: 60px;
	color:black;
}


.box{
	color:black;
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border:2vw solid;
	padding:5vw;

}

.movie{
	display: flex;
	flex-wrap: wrap;
}
.movie img{
	height:30%;
	width:30%;
	position:absolute;
	display:block;
    margin-left: auto;
    margin-right: auto;
    top:50%;
}

.movie-text{

	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:grey;
}
